* {
box-sizing:border-box;
}


body {

margin:0;

background:#0b0b0d;

color:white;

font-family:
Segoe UI,
Arial,
sans-serif;

overflow:hidden;

}





/* TOP */

.topbar {

height:70px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 25px;

background:#151515;

border-bottom:1px solid #333;

}



.logo {

font-size:26px;

font-weight:bold;

}



.toolbar {

display:flex;

gap:10px;

align-items:center;

}




button {

background:#252525;

color:white;

border:1px solid #444;

border-radius:7px;

padding:8px 14px;

cursor:pointer;

}


button:hover {

background:#3a3a3a;

}




input {

background:#111;

color:white;

border:1px solid #444;

border-radius:5px;

padding:5px;

width:70px;

}






/* LAYOUT */


.layout {

display:grid;

grid-template-columns:
240px 1fr 300px;

height:
calc(100vh - 70px);

}







/* SIDEBAR */


.sidebar {

background:#121212;

border-right:1px solid #333;

padding:20px;

}



.sidebar button {

width:100%;

margin-bottom:10px;

}



.sidebar label {

display:flex;

justify-content:space-between;

margin-bottom:12px;

}



.tool.active {

background:#555;

}





hr {

border:none;

border-top:1px solid #333;

margin:20px 0;

}







/* WORKSPACE */


.workspace {

display:flex;

flex-direction:column;

}





.canvas-area {

flex:1;

padding:25px;

overflow:auto;

}





.braille-canvas {

display:grid;

gap:18px;

}






/* BRAILLE CELLS */


.cell {

display:grid;

grid-template-columns:
repeat(2,35px);

grid-template-rows:
repeat(4,35px);

gap:6px;

padding:10px;

background:#191919;

border-radius:10px;

border:1px solid #333;

}



.dot {

width:35px;

height:35px;

border-radius:50%;

background:#444;

cursor:crosshair;

}



.dot:hover {

background:#777;

}



.dot.active {

background:white;

box-shadow:
0 0 12px white;

}







/* TIMELINE */


.timeline-area {

height:180px;

background:#151515;

border-top:1px solid #333;

padding:15px;

}



.timeline-header {

display:flex;

justify-content:space-between;

}



.timeline {

display:flex;

gap:10px;

margin-top:15px;

overflow-x:auto;

}



.frame {

width:90px;

height:70px;

background:#222;

border:2px solid #444;

border-radius:8px;

display:flex;

align-items:center;

justify-content:center;

cursor:pointer;

}



.frame.active {

border-color:white;

background:#444;

}








/* PREVIEW */


.preview-panel {

background:#121212;

border-left:1px solid #333;

padding:20px;

}



.preview {

height:220px;

background:black;

border-radius:10px;

border:1px solid #333;

display:flex;

align-items:center;

justify-content:center;

font-size:90px;

overflow:hidden;

}



pre {

white-space:pre-wrap;

word-break:break-all;

color:#aaa;

}
